# PYTHON & DJANGO (Backend)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django specific
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask & Scrapy stuff
instance/
.webassets-cache
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder, Jupyter, IPython
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py

# Package managers (Poetry, PDM, Pixi, UV)
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# Celery, Redis, RabbitMQ, ActiveMQ
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof
*.pid
mnesia/
rabbitmq/
rabbitmq-data/
activemq-data/

# SageMath, mypy, Pyre, pytype, Cython
*.sage.py
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Ruff, PyPI, Marimo, Streamlit
.ruff_cache/
.pypirc
marimo/_static/
marimo/_lsp/
__marimo__/
.streamlit/secrets.toml


# NODE, REACT & VITE (Frontend)
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build outputs
node_modules/
dist/
dist-ssr/
build/
frontend/dist/
frontend/build/
*.local


# ENVIRONMENTS, DOCKER & CUSTOM DATA
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.conda/

# Docker volumes and data
postgres_data/
docker-compose.override.yml

# Large ML-models and DB
*.parquet
ml_models/*.parquet


# IDE, EDITORS & SYSTEM
# Visual Studio Code
.vscode/*
!.vscode/extensions.json
tempCodeRunnerFile.py

# JetBrains (PyCharm, WebStorm etc.)
.idea/

# System files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/site
.abstra/